@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --color-background: #060606;
  --color-foreground: #fdfdfd;
  --primary: #2E4D46;
  --accent: #0acd9f;
  --heading-font: "Rock Salt", cursive; 
  --body-font: "Expletus Sans", sans-serif;
  --accent-translucent: #0acd9f44;
  --foreground-translucent: #fdfdfd44;
  --paragraph: #696e6a;
  --theme-2: #a2ff44;
  --theme-4: #a7ffff;
  --theme-3: #455c45;
  --theme-1: #146f5e;
  --theme-5: #8b8b8b;
}

::selection {
  background: var(--accent);
  color: var(--color-foreground);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--color-background);
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-family: var(--body-font);
}

header {
  height: 100vh;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
  font-size: 54px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 0;
}

h4 {
  margin-left: 12vw;
  margin-right: 12vw;
  color: var(--primary);
  text-align: center;
  font-size: 24px;
}

h2 {
  margin-left: 12vw;
  margin-right: 12vw;
  font-family: var(--heading-font);
  margin-top: 8vh;
  letter-spacing: 4px;
}

p, li {
  margin-left: 12vw;
  margin-right: 12vw;
  width: 60%;
  color: var(--paragraph);
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bolder;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  text-align: center;
  font-size: 16px;
}

strong {
  color: var(--color-foreground);
}

#metalligif {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
  object-position: bottom;
  flex-shrink: 1;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: unset;
  z-index: 10000;
  max-height: 100vh;
}

#text-start {
  min-height: 100vh;
  padding-top: 12vh;
}

#btn-start {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border: 1px solid var(--accent);
  color: var(--accent);
  z-index: 10000;
  transition: 0.3s;
  font-weight: bolder;
}

#btn-start:hover {
  cursor: pointer !important;
  opacity: 0.6;
}

#ac-chart-container {
  height: 100vh;
}

#radar-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24vh;
}

.radar-chart-grid-item {
  width: 25%;
  height: 300px;
  transition: 0.3s;
}

.radar-chart-grid-item:hover {
  filter: opacity(0.6);
  cursor: pointer;
}

.full-radar-chart {
  height: 70vh;
  width: 100%;
}

.anychart-credits-text {
  display: none;
}

.anychart-credits-logo {
  display: none;
}

.chart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

select {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-background);
  border: 1px solid var(--color-foreground);
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--color-foreground);
  margin-top: 8px;
  margin-bottom: 16px;
}

option {
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--primary);
}

.chart-key {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.key-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.key-color{
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 2px solid;
}

.key-color.accent {
  border-color: var(--accent);
  background-color: var(--accent-translucent);
}

.key-color.foreground {
  border-color: var(--color-foreground);
  background-color: var(--foreground-translucent);
}

h3 {
  font-family: var(--heading-font);
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
}

#radar-container {
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 24vh;
}

#song-info {
  width: 40%;
}

#song-info h2 {
  all: unset;
  font-size: 36px;
  font-weight: bolder;
  font-family: var(--body-font);
  color: var(--accent);
}

#song-info h4 {
  padding: unset;
  margin: unset;
  text-align: left;
}

#song-info p {
  margin: unset;
  width: unset;
  padding: unset;
}

#song-feature {
  margin-top: 16px !important;
  color: var(--color-foreground)
}

#compare-with-metallica {
  color: var(--paragraph);
  font-size: 16px;
}

#back-to-all {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#reception-title {
  width: unset;
  margin: unset;
  font-size: 2em;
  color: var(--accent);
  width: 80%;
  text-align: center;
  font-weight: bolder;
  display: inline;
  margin-top: 12vh;
}

#reception-subtitle {
  margin: unset;
  color: white;
  font-style: italic;
  text-align: center;
}

#reception-container {
  width: 70%;
  flex-grow: 1;
  display: block;
  height: 110vh;
  margin-bottom: 12vh;
}

#reception-scrollview {
  display: flex;
  flex-direction: row;
}

#reception-key {
  width: 30%;
  padding: 16px;
  padding-right: 16px;
  display: block;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.close-reception {
  margin: unset;
  padding: unset;
  width: 36px;
  text-align: right;
  font-size: 36px;
  margin-left: 90%;
  color: white;
  font-weight: bolder;
  transition: 0.3s;
}

.close-reception:hover {
  color: var(--paragraph);
  cursor: pointer;
}

#reception-key h3 {
  font-size: 24px;
  line-height: 125%;
}

#reception-key h4 {
  margin: unset;
  padding: unset;
  width: 100%;
  font-size: 16px;
}

#reception-quote {
  width: 90%;
  padding: 16px;
  border: 1px solid var(--paragraph);
  margin-top: 16px;
  border-radius: 4px;
}

#reception-quote b {
  font-weight: bolder;
  color: white;
}

#reception-quote p {
  margin: unset;
  color: var(--paragraph);
  font-size: 14px;
  width: 100%;
  line-height: 200%;
}

#reception-quote p span {
  border: 1px solid white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  font-weight: bolder;
  color: white;
  display: inline-block;
}

#reception-quote .quote-attr {
  font-size: 14px;
  color: var(--primary);
  text-decoration: underline;
  display: block;
  width: 100%;
  text-align: right;
  font-weight: bolder;
  margin-left: auto;
  margin-top: 8px;
}

#reception-category-list span {
  font-weight: bolder;
  color: white;
  margin-right: 4px;
  border: 1px solid white;
  padding: 4px;
  border-radius: 4px;
}

#reception-category-list li {
  margin-bottom: 16px;
}

.proficiency {
  background-color: var(--color-background);
}

.composition {
  background-color: var(--color-foreground);
  color: var(--color-background) !important;
}

.interpretation {
  background-color: var(--primary);
}

.instrumentation {
  background-color: var(--accent);
  color: var(--color-background) !important;
}

.reputation {
  background-color: var(--paragraph);
}

.genre {
  background-color: var(--theme-1);
}

.loyalty {
  background-color: var(--theme-2);
  color: var(--color-background) !important;
}

.memorability {
  background-color: var(--theme-3);
}

.uniqueness {
  background-color: var(--theme-4);
  color: var(--color-background) !important;
}

.reception-select {
  margin-left: auto;
  margin-right: auto;
}

#genre-demographics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: auto;
  background-image: url("../public//images//stage_design_full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  transition: 0.3s;
  margin-bottom: 24vh;
}

#genre-demographics .artist-row {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  position: relative;
  transition: 0.3s;
  /*border-bottom: 1px solid var(--primary);*/
}

#genre-demographics .artists-header {
  /*flex-grow: 20;*/
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;

  position: absolute;
  margin-top: calc(-2vh - 70px - 12px - 2vh);
  margin-left: 10%;
  background-color: var(--color-background);
  border: 1px solid var(--accent);
  padding: 2vh;
  z-index: 1000;
}

#genre-demographics .bars-row {
  flex-grow: 80;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.3s;
}

.genre-cell {
  flex-grow: 1;
  height: 12px;
  display: "flex";
  border: 1px solid var(--primary);
  transition: 0.3s;
}

.artists-header .name {
  width: unset;
  margin: unset;
  flex-grow: 1;
  color: var(--color-foreground);
  font-size: 1.3em;
}

.artists-header .detail-text {
  width: unset;
  margin: unset;
  font-size: 1em;
}

.artists-header .text-col {
  display: flex;
  flex-direction: column;
}

.artists-header .img {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 4px solid var(--accent);
}

.bars-row .key-text {
  width: unset;
  margin: unset;
  margin-left: 2vw;
  margin-right: 2vw;
  color: var(--paragraph);
}

#genre-demographics .stage {
  width: 30%;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: end;
  align-items: center;
  padding: 4vh;
  margin-top: 4vh;
  margin-bottom: 20vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.stage #stage-title {
  margin: unset;
  width: unset;
  color: var(--primary);
  font-size: 2em;
  text-align: center;
  filter: unset;
  margin-left: 3vw;
  font-family: var(--heading-font);
}

#stage-title-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
}


#stage-title-row #stage-title {
  width: unset;
  margin: unset;
  font-size: 2em;
  margin-bottom: 2vh;
  color: var(--accent);
  width: 40%;
  text-align: center;
  font-weight: bolder;
  display: inline;
}


#genre-tooltip {
  position: absolute;
  margin-top: calc(2vh + 6px);
  background-color: var(--color-background);
  border: 1px solid var(--accent);
  z-index: 1000;
  margin-left: 10%;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#genre-tooltip p {
  display: inline-flex;
  margin: unset;
  width: unset;
}

.metallica-compare {
  font-size: 14px;
}

.metallica-compare .stat {
  color: var(--theme-1) !important;
  font-weight: bolder;
}

.genre-of-artist {
  color: var(--color-foreground);
  font-size: 14px;
  font-style: italic;
}

#genre-tooltip p .stat {
  color: var(--accent);
  font-weight: bolder;
}

#stage-title-row .key-color {
  border-radius: unset;
}

#stage-title-row .key-color.foreground {
  border-color: var(--color-foreground);
  background-color: var(--color-foreground);
}

#stage-title-row .key-color.primary-empty {
  border-color: var(--primary);
  background-color: var(--color-background);
}

#stage-title-row .key-color.primary {
  border-color: var(--primary);
  background-color: var(--primary);
}

#stage-title-row .key-color.accent {
  border-color: var(--accent);
  background-color: var(--accent);
}

#stage-title-row .key-color.theme-2 {
  border-color: var(--primary);
  background-color: var(--theme-2);
}

#stage-title-row .chart-key {
  flex-direction: column;
  gap: 4px;
}

#stage-title-row select {
  color: var(--accent);
  font-size: 2em;
  display: inline;
  width: auto;
  margin-bottom: 0;
}

#stage-title-row option {
  color: var(--accent);
}

.methodology {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.methodology h3 {
  font-size: 20px;
  font-family: var(--body-font);
  color: var(--accent)
}

.methodology p {
  font-size: 16px;
  margin-left: 30vw;
  width: 40vw;
  text-align: justify;
  color: var(--primary);
}

.methodology a {
  color: var(--primary);
  text-decoration: underline;
}

.worldmap-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-and-caption {
  width: 60%;
  margin-left: 12vw;
  border-left: 4px solid var(--accent);
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  margin-bottom: 8vh;
  margin-top: 8vh;
}

.image-and-caption img {
  width: 80%;
}

#map-link {
  width: 100%;
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
  margin-left: 1vw;
}

.footer a {
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
}