body {
    background-color: #000000;
    font-family: "Expletus Sans", sans-serif;
}
.treemap-node-image {
    object-fit: cover;
}

.flourish-embed {
    font-family: "Expletus Sans", sans-serif;
}